[general]
DEBUG: FALSE
STATIC_URL: /static/

[databases]
ENGINE : django.db.backends.postgresql_psycopg2
URL : postgres://default:SORcXu5BIPQ0@ep-still-fog-a4040y9q-pooler.us-east-1.aws.neon.tech/verceldb?sslmode=require
HOST : ep-still-fog-a4040y9q-pooler.us-east-1.aws.neon.tech
PORT : 5695
USER : default
PASSWORD : SORcXu5BIPQ0
NAME : verceldb

[security]
SECRET_KEY : django-insecure-%%-$6=mtmdsmqr_v78^3^p824ffa)@^eq@pl+99ym-*a=v^lpz&
